html, body { padding: 0; margin: 0;}

body {
	width: 1024px;
	height: 768px;
	position: relative;
	margin: 0 auto;
}

#container {
	background-color: #333;
	width: 1024px;
	height: 768px;
	position: relative;
	margin: 0 auto;
}

/** Make sure images are always on top */
img {
	position: absolute;
	z-index: 0;
}

/** Description Box */

#description-box {
	position: absolute;
	bottom: 0;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	background-color: #EFEFEF;
	width: 400px;
}
#description-header {
	margin-top: 0;
}